*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}

h1{
    display: flex;
    justify-content: center;
}

.settings-box{
    width: 220px;
    height: 450px;
    display: flex;
    background: rgba(92, 9, 92, 0.648);
    border-radius: 7px;
    position: relative;
    padding: 10px;
}

.settings-box button{
    width: 50px;
    margin: 5px;
}

#color-picker{
    margin-left: 10px;
}

#clear{
    width: 80px;
    position: absolute;
    top: 70px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#erase{
    width: 80px;
    position: absolute;
    top: 70px;
    left: 110px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#small{
    position: absolute;
    top: 400px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#medium{
    position: absolute;
    top: 400px;
    left: 75px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#big{
    position: absolute;
    top: 400px;
    left: 140px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

.settings-box > button:hover{
    cursor: pointer;
}

#erase:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#clear:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#small:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#medium:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#big:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

.sketch-container{
    border: 1px solid black;
    width: 610px;
    height: 620px;
    position: absolute;
    left: 500px;
    top: 80px;
    background: rgb(231, 124, 124);
    border-radius: 10px;
}

.sketch-zone{
    background: white;
    width: 590px;
    height: 600px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#smallPixels{
    border: .5px solid rgba(0, 0, 0, 0.098); 
    width: 30px;
    height: 30px;
}

#mediumPixels{
    border: .5px solid rgba(0, 0, 0, 0.098); 
    width: 20px;
    height: 20px;
}

#bigPixels{
    border: .5px solid rgba(0, 0, 0, 0.098); 
    width: 9px;
    height: 9px;
    
}