*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}

h1{
    display: flex;
    justify-content: center;
}

.settings-box{
    width: 220px;
    height: 450px;
    display: flex;
    background: rgba(92, 9, 92, 0.648);
    border-radius: 7px;
    position: relative;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5%;
}

.mode{
    margin-left: 5%;
}

.settings-box button{
    width: 50px;
    margin: 5px;
}

#color-picker{
    margin-left: 10px;
}

#clear{
    width: 80px;
    position: absolute;
    top: 70px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#erase{
    width: 80px;
    position: absolute;
    top: 70px;
    left: 110px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#gray{
    width: 80px;
    position: absolute;
    top: 110px;
    left: 110px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

#random{
    width: 80px;
    position: absolute;
    top: 150px;
    left: 110px;
    font-family: inherit;
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
}

.settings-box > button:hover{
    cursor: pointer;
}

#gray:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#random:hover{
    background: linear-gradient(to right, #f368de, #4763de);
    border: 2px solid rgb(227, 227, 227);
}


#erase:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#clear:hover{
    background: rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
}

#size{
    width: 190px;
    height: 30px;
    position: absolute;
    top: 340px;
}

.sketch-container{
    border: 1px solid black;
    width: 610px;
    height: 620px;
    position: absolute;
    left: 500px;
    top: 80px;
    background: rgb(231, 124, 124);
    border-radius: 10px;
}

.sketch-zone{
    background: white;
    width: 590px;
    height: 600px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
}

#colored{
    border: .5px solid rgba(28, 28, 28, 0.112)
}